<a href="javascript:document.querySelector('.modal').classList.remove('is-active');" class="modal-background"></a>
<a class="modal-close is-large" aria-label="close"
    href="javascript:document.querySelector('.modal').classList.remove('is-active');" class="modal-close"></a>
<form class="modal-card" action="{{request.get_full_path}}" method="post" {% if form.is_multipart %}
    enctype="multipart/form-data" {% endif %}>
    <header class="modal-card-head">
        {% if title %}
        <p class="modal-card-title">{{title}}</p>
        {% endif %}
        <a href="javascript:document.querySelector('.modal').classList.remove('is-active');" class="delete"
            aria-label="close"></a>
    </header>
    <section class="modal-card-body">
        {% if text %}
          <p class="has-text-centered is-size-4">{{text}}</p>
        {% endif %}

        {% csrf_token %}

        {% include "bulform/coreform.html" %}
    </section>
    <footer class="modal-card-foot">
        {% if action %}
        <button class="button is-{{action}}" style="width:100%;">Submit</button>
        {% else %}
        <button class="button is-primary" style="width:100%;">Submit</button>          
        {% endif %}
        <a href="javascript:document.querySelector('.modal').classList.remove('is-active');" class="button cancel-form"
            style="width:100%;">Cancel</a>
        </div>
    </footer>
</form>